@import "tailwindcss";

@theme {
  --color-brand-50: #eef8ff;
  --color-brand-100: #d9efff;
  --color-brand-500: #0ea5e9;
  --color-brand-600: #0284c7;
  --color-brand-700: #0369a1;

  --color-violet-500: #8b5cf6;
  --color-violet-600: #7c3aed;

  --color-success-500: #10b981;
  --color-warning-500: #f59e0b;
  --color-danger-500: #ef4444;
}